@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/theme' as *;

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  padding: 0;
  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;

  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.grupoRegistro {
  margin: auto;
  width: 50%;
  height: 100vh;
}

.externalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    background-color: $layer-hover-01;
    position: absolute;
    min-width: 80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* For Tablets */
@media screen and (min-width: 600px) {
  .container {
    background-color: $layer-hover-01;
    position: absolute;
    min-width: 30%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}



.formLogin {
  padding: 7%;
}

.areaBotoes {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.links {
  padding-top: 1rem;
  right: 0px;
  text-align: right;
}

#botaoEsquerda {
  width: 49%;
  margin-right: 1%;
}

#botaoDireita {
  width: 50%;
}

.formRegistro {
  padding: 1.5rem 1.5rem
}

.areaBotoesTile {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}